* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #891652;
  font-size: 40px;
  padding: 5rem;
}

body {
  background: #240a34;
}

output {
  margin-left: 15rem;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.row p {
  margin-right: 2rem;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

#red::-webkit-slider-runnable-track {
  background: #f70202;
  height: 0.7rem;
  border-radius: 10px;
}
#red::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.4rem;
  width: 1.4rem;
  background-color: red;
  margin-top: -5.6px;
  border-radius: 20px;
}

#green::-webkit-slider-runnable-track {
  background: #1d963b;
  height: 0.7rem;
  border-radius: 10px;
}
#green::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.4rem;
  width: 1.4rem;
  background-color: #1d963b;
  margin-top: -5.6px;
  border-radius: 20px;
}

#blue::-webkit-slider-runnable-track {
  background: #043cbef4;
  height: 0.7rem;
  border-radius: 10px;
}
#blue::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.4rem;
  width: 1.4rem;
  background-color: #043cbef4;
  margin-top: -5.6px;
  border-radius: 20px;
}

#color {
  margin: 5rem 0rem;
}

button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 9px 18px;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #eabe6c;
  border-color: #eabe6c;
}

button:hover {
  color: #240a34;
  border: 1px solid #240a34;
  background-color: #eabe6c;
}
